/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display:flex;
    min-height: 100vh;
    align-items: flex-end;
    background: #333;

} */
footer{
    position: relative;
    width: 100%;
    background: #0c014169;
min-height: 100px;

padding: 22px;
display: flex;
justify-content: center;
align-items: center;
/* ye change ker sakty  hai */
flex-wrap: wrap;
flex-direction: row;
position: sticky;
}

footer .social-icon,
footer .menu{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;

}
footer .social-icon li,
footer .menu li{
    list-style:none;
    margin: 4px;

}
footer .social-icon li a
{
    font-size: 1.4em;
    color: #fff;
    display: inline-block;
    transition: 0.5s;
    margin: 0 10px;
    flex-direction: right;


}
footer .social-icon li a:hover{
    /* color: black; */
    color: yellow;
    /* this for tansform logo up */
    transform:translatey(-10px);
}

footer .menu li a{
    text-transform: capitalize;
    font-size: 1.2em;
    display: inline-block;
    color: #fff;
    /* color: yellow; */
    transition: 0.5s;
    margin: 0 10px;
    text-decoration:none ;
    opacity: 0.75;
    
}
footer .menu li a:hover{
    opacity: 1;
    /* color: #333; */
    color: yellow;
}
footer p{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    /* position: absolute; */
    left: 80%;
    /* position: sticky; */
    /* opacity: 1; */
    /* border-color: rgba(48, 52, 48, 0.655); */
}
span{
  
    opacity: 0.65;
    border-color: rgba(48, 52, 48, 0.655);
}